@import url("../../App.css");

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.25rem 1.25rem 0.125rem 1.25rem;
}

.contextForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campos {
  width: 65%;
}

.secaoImagem {
  width: 35%;
  display: flex;
  justify-content: center; 
}

.imagem {
  width: 300px;
  height: 450px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#dataRegistroCampo {
  width: 26%;
}

#pesoAtualCampo, #pesoDesejadoCampo, #alturaCampo {
  width: 20%;
}

#medidaToraxCampo, #medidaCinturaCampo , #medidaQuadrilCampo {
  width: 30%;
}

#medidaBracoDireitoCampo, #medidaBracoEsquerdoCampo {
  width: 47%;
}

#medidaCoxaDireitaCampo, #medidaCoxaEsquerdaCampo {
  width: 47%;
}

 #medidaPanturrilhaDireitaCampo, #medidaPanturrilhaEsquerdaCampo {
  width: 47%;
 }

.errorMessage {
  height: 0rem;
  color: var(--red);
  font-size: 0.75rem;
  position: relative;
  top: 0.125rem;
}