@import url("../../App.css");

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1.25rem 1.25rem 0.125rem 1.25rem;
}

.contextForm {
  display: flex;
  flex-direction: column;
}

.tituloTabelaAlimentos {
  font-size: 1.5rem;
  color: var(--textColor);
  font-weight: 600;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.tabelaAlimentos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.25rem 1.25rem .5rem 1.25rem;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: var(--fontPadrao);
  color: var(--textColor);
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.rowModal {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0rem 1.8rem 0rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#dataRegistroCampo,
#tipoRefeicaoCampo {
  width: 48%;
}

#unidadeAlimentoCampo {
  width: 30%;
}

.errorMessage {
  height: 0rem;
  color: var(--red);
  font-size: 0.75rem;
  position: relative;
  top: 0.125rem;
}

.btnAddAlimento {
  margin-left: auto;
  width: 200px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--mainColor);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.btnAddAlimento:hover {
  background-color: var(--activeButton);
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
    gap: 1rem;
  }

  .rowModal {
    flex-direction: column;
  }

  #unidadeAlimentoCampo {
    width: 100%;
  }

  #dataRegistroCampo,
  #tipoRefeicaoCampo {
    width: 100%;
  }

  .btnAddAlimento {
    width: 100%
  }
}