@import url("../../App.css");

.mainContent {
  padding: 1.25em 1.25em 0.125em 1.25em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rowModal {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0rem 1.8rem 0rem;
}

.campos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: row;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

#dataInicialCampo, #dataFinalCampo {
  width: 48%;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
}

.btnRegister {
  margin-top: auto;
  width: 220px;
  height: 50px;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--mainColor);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.btnRegister:hover {
  background-color: var(--activeButton);
}

.btnRegister:focus {
  outline: none;
  background-color: var(--activeButton);
}

.btnRegister:active {
  outline: none;
  background-color: var(--mainColor);
}